{{#section 'title'}}
    Cart
{{/section}}

{{#section 'js'}}
<script type="text/javascript">
	$('.removeItem').on('click', function() {
	    var id = $(this).data('proid');
	    $('#txtP').val(id);
	    $('#frmRemoveItem').submit();
	});
</script>
{{/section}}

<form id="frmRemoveItem" method="post" action="/cart/remove">
	<input type="hidden" name="proId" id="txtP">
</form>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Product</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Amount</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{{#each items}}
				<tr>
					<td>{{product.ProName}}</td>
					<td>{{number_format product.Price}}</td>
					<td>{{quantity}}</td>
					<td>{{number_format amount}}</td>
					<td class="text-right">
						<a data-proid="{{product.ProID}}" class="btn btn-danger btn-xs removeItem" href="javascript:;" role="button">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
				{{/each}}
			</tbody>
			<tfoot>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>Total: 9,999,999</td>
					<td>&nbsp;</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>