<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-3 col-lg-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Categories</h3>
					</div>
					<div class="list-group">
						{{#each categories}}
						<a href="/product/byCat/{{CatID}}" class="list-group-item">{{CatName}}</a>
						{{/each}}
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Suppliers</h3>
					</div>
					<div class="list-group">
						{{#each categories}}
						<a href="#" class="list-group-item">{{CatName}}</a>
						{{/each}}
					</div>
				</div>
			</div>
			<div class="col-sm-9 col-md-9 col-lg-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{{_sections.title}}}
						</h3>
					</div>
					<div class="panel-body">
						{{{body}}}
					</div>
				</div>
			</div>
		</div>
	</div>